
* { margin: 0; padding: 0;}

/*===============================================================

	Substring Attribute Mobile First Grid System 1.0 @Danilux 

=================================================================*/

/* This wrapper class is optional, useful if you need a specific width centered layout */
.grid-wrapper {
	max-width: 1100px;			/*[1] Sets a fixed expanding width limit for the layout */
	width: 95%;					/*[2] Sets a proportional width for fluid and 5% for side spacing */
	margin: 0 auto;				/*[3] Centers the grid */
}

.grid {
	list-style: none;				/*[1] Allows to use <ul> to build grids */
	margin: 0 0 0 -1.51515%;		/*[2] Remove any inherited margin and negates one gutter */
	zoom:1; 						/*[3] Clear the floated child to avoid parent collapsing with Sass */
}

/* Clearfix the grids container to avoid collapsing */
.grid:before, .grid:after { content:""; display:table; }
.grid:after { clear:both; }


.grid [class$=cols] { 
	float: left;				/*[1] Sets our columns side by side */
	margin: 0 0 0 1.51515%;		/*[2] Sets horizontal margins as gutters to separate columns */
} 

@media screen and (min-width: 0) and (max-width: 499px) {
	.grid [class^=m1] { width: 15.15151666666667%; }
	.grid [class^=m2] { width: 31.81818333333333%; }
	.grid [class^=m3] { width: 48.48485%; }
	.grid [class^=m4] { width: 65.15151666666667%;}
	.grid [class^=m5] { width: 81.4545333333333%; }
	.grid [class^=m6] { width: 98.48485%; }
}

@media screen and (min-width: 500px) and (max-width: 991px) {
	.grid [class*=t1] { width: 15.15151666666667%; }
	.grid [class*=t2] { width: 31.81818333333333%; }
	.grid [class*=t3] { width: 48.48485%; }
	.grid [class*=t4] { width: 65.15151666666667%;}
	.grid [class*=t5] { width: 81.4545333333333%; }
	.grid [class*=t6] { width: 98.48485%; }
}

@media screen and (min-width: 992px) {
	.grid [class*=d1] { width: 15.15151666666667%; }
	.grid [class*=d2] { width: 31.81818333333333%; }
	.grid [class*=d3] { width: 48.48485%; }
	.grid [class*=d4] { width: 65.15151666666667%;}
	.grid [class*=d5] { width: 81.4545333333333%; }
	.grid [class*=d6] { width: 98.48485%; }
}


