/* Styles to display the grid columns for the demo */
.grid--show { background-color: #999999; }
.grid--show [class$=cols] {
	min-height: 100px; 
	background-color: #fdffcf;
	font-weight: bold;
	margin-bottom: 2em;
	text-align: center;
	line-height: 100px;
}